@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */


body{
  background-color: black;
  font-family: 'Bebas Neue', sans-serif;

}
.slick-dots li button:before {
  color: white !important; /* Use !important if the default styling is overriding it */
}
.slick-dots li.slick-active button:before {
  color: #FF5733; /* Example: color for the active dot */
}
.svg-icon {
  width: 100px;
  height: 100px;
}
